/* Style pour les boutons */
.btn-good,
.btn-good:active {
    color: #15161d !important;
    background-color: #f6c614 !important;
    border-color: #f6c614 !important;
}

.btn-good:hover {
    color: #fff !important;
    background-color: #f6c614 !important;
    border-color: #f6c614 !important;
}

.btn-good:focus,
.btn-good.focus {
    box-shadow: 0 0 0 0.2rem rgba(246, 198, 20, 0.5) !important;
}

.btn-delete,
.btn-delete:active {
    color: #15161d !important;
    background-color: #c92b39 !important;
    border-color: #c92b39 !important;
}

.btn-delete:hover {
    color: #fff !important;
    background-color: #c92b39 !important;
    border-color: #c92b39 !important;
}

.btn-delete:focus,
.btn-delete.focus {
    box-shadow: 0 0 0 0.2rem rgba(201, 43, 57, 0.5) !important;
}

/* Supprimer la mise en surbrillance (focus) des champs de saisie */
.form-control:focus {
    border-color: #f6c614 !important;
    box-shadow: 0 0 0 0.2rem rgba(246, 198, 20, 0.5) !important;
}

/*Style pour les messages d'alerte*/
.error {
    color: #c92b39 !important;
}

.success {
    color: green !important;
}

/* Ajoutez ces classes à votre feuille de style CSS */

/* Style général de la pagination */
.pagination {
    display: flex;
    justify-content: center;
}

/* Style des éléments de la pagination */
.pagination .page-item {
    display: inline-block;
}

/* Style des liens et boutons de la pagination */
.pagination .page-link {
    color: #f6c614;
    /* Couleur du texte */
    background-color: #15161d;
    /* Couleur de fond */
    border: 1px solid #f6c614;
    /* Bordure */
}

/* Style des liens et boutons actifs de la pagination */
.pagination .page-item.active .page-link {
    background-color: #f6c614;
    /* Couleur de fond pour l'élément actif */
    color: #15161d;
    /* Couleur du texte pour l'élément actif */
    border-color: #f6c614;
    /* Couleur de bordure pour l'élément actif */
}

/* Style des liens et boutons au survol de la pagination */
.pagination .page-link:hover {
    background-color: #15161d;
    /* Couleur de fond au survol */
    color: #f6c614;
    /* Couleur du texte au survol */
    border-color: #15161d;
    /* Couleur de bordure au survol */
}